  
  <ul id="messages" name="messages" *ngFor="let mens of mensagens" >
  	{{mens}}
  </ul>
  <form name="frmChat">
    <input id="m" autocomplete="off" [(ngModel)]="texto" name="m" /><button (click)="enviar()">Enviar</button>
  </form>
